:root {
  --green: rgb(38, 76, 89);
  --text-color-dark: #333;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b7992;
  height: 60px;
}

body {
  margin: 0;
  font-size: 1.1em;
  background-image: url(image/8109843.jpg);

  background-attachment: fixed;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-weight: 1000;
  letter-spacing: 0.8px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.8px;
}

main {
  padding: 50px 0 0;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* DIALOG */
dialog img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

dialog {
  width: 80vw;
  background-color: #508bbb;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  background: rgba(137, 139, 139, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}
dialog p {
  margin: 0.5em 0 1em;
}

/* GRID ITEM */

.grid-item {
  box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.25);
  padding: 1.5em;
  background-color: whitesmoke;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid black;
}

.grid-item:hover {
  box-shadow: 10px 10px 16px 0 var(--green);
}

.grid-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.grid-item p {
  margin: 0.3em 0;
}
